{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">{{ pattern.title }}</h1>
    {% for section in sections.items %}
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href="#collapse{{ section.id }}" role="button" aria-expanded="false" aria-controls="collapse{{ section.id }}">
            {{ section.title }}
          </a>
            {% if current_user.role == 'admin' %}
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('patterns.update_section', section_id=section.id) }}">Update</a>
                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
            {% endif %}
        </p>
        <div class="collapse" id="collapse{{ section.id }}">
          <div class="card card-body">
            {{ section.content }}
          </div>
        </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Section?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('patterns.delete_section', section_id=section.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock content %}