{% extends "layout.html" %}
{% block content %}
    <div><h1>Ten Fundamental Patterns</h1></div>
    <h2><a class="article-title" href="patterns/1">Polarized Thinking</a></h2>
    <h2><a class="article-title" href="patterns/2">Over Generalization</a></h2>
    <h2><a class="article-title" href="patterns/3">Unfounded Suspicion</a></h2>
    <h2><a class="article-title" href="patterns/4">Negativity, Withdrawal, Inactivity, and Pessimism</a></h2>
    <h2><a class="article-title" href="patterns/5">Fixed Expectations, Preconceptions, Taking Things for Granted, and False Assumptions</a></h2>
    <h2><a class="article-title" href="patterns/6">Greediness</a></h2>
    <h2><a class="article-title" href="patterns/7">Self-Centeredness</a></h2>
    <h2><a class="article-title" href="patterns/8">Avoiding and Hiding</a></h2>
    <h2><a class="article-title" href="patterns/9">Stubbornness</a></h2>
    <h2><a class="article-title" href="patterns/10">Fight for Dominance and Desire for Victory (Competitiveness)</a></h2>
    <h1>Twenty Fundamental Consciousness and Common Behavioral Patterns</h1>
    <h2><a class="article-title" href="patterns/11">1</a>Indecisiveness</h2>
    <h2><a class="article-title" href="patterns/11">1</a>Eagerness for Quick Results</h2>
{% endblock content %}