{% extends "layout.html" %}
{% block content %}
    <div>
        <h3>Admin eyes only:</h3>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('patterns.update_pattern', pattern_id=pattern.id) }}">Update</a>
    </div>
    <article class="media content-section">
        <div class="media-body">
            <h2><a class="article-title" href="{{ url_for('patterns.pattern', pattern_id=pattern.id) }}">{{ pattern.title }}</a></h2>
            <p class="article-content">{{ pattern.content }}</p>
        </div>
    </article>
{% endblock content %}